@font-face {
    font-family: BebasNeue;
    src: url(BebasNeue-Regular.ttf);
}

body {
    font-family: BebasNeue;
    text-align: center;
    font-size: 15px;
    background-color: rgb(41, 43, 44);
    color: white;
}

h3 {
    color: green;
}

h4 {
    color: red;
}

a {
    color: rgb(126, 126, 251);
    font-weight: bold;
}

ul {
    text-align: left;
    display: table;
    margin: 0 auto;
  }

table, th, td {
    border: solid black;
}

#Head {
    border: solid black;
    background-color: #241212;
}

#Menu {
    border: solid black;
    border-width: 3px 0 0 3px;
    background-color: #582b25; 
}

#Content {
    border: solid black;
    background-color: #241212;
}

#Footer {
    border: solid black;
    background-color: #241212;
}
