body {
    font-family: times-new-roman;
    text-align: center;
    font-size: 10px;
    background-color: white;
}

h3 {
    color: green;
}

h4 {
    color: red;
}

p {
    padding: 15px;
}

a {
    color: rgb(126, 126, 251);
    font-weight: bold;
}

table, th, td {
    border: solid black;
}

#Head {
    border: solid black;
    background-color: #e8f9fd;
}

#Menu {
    border: solid black;
    border-width: 3px 0 0 3px;
    background-color: #ff1e00; 
}

#Content {
    border: solid black;
    background-color: #e8f9fd;
}

#Footer {
    border: solid black;
    background-color: #e8f9fd;
}

