@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

body {
    text-align: center;
    font-size: 15px;
    background-color: rgb(41, 43, 44);
    color: white;
}

table {
    margin: auto;
}

td
{
    padding:0 15px;
}

#Head a {
    color: black;
}

#Head {
    font-family: 'Bebas Neue';
    border: solid black;
    background-color: #17335d;
}

#Menu {
    font-family: 'Bebas Neue';
    border: solid black;
    border-width: 3px 0 0 3px;
    background-color: #d15c19; 
}

#Content {
    font-family: 'Roboto';
    border: solid black;
    background-color: #17335d;
}

#Footer {
    font-family: 'Bebas Neue';
    border: solid black;
    background-color: #17335d;
}
